<div class="navbar" style="position: fixed;
left: 0;
top: 0;">
    <a href="/api/patient">Patient</a>
    <a href="/api/doctor">Doctor</a>
    <a href="/api/staff">Staff</a>
    <a href="/api/appointment">Appointment</a>
    <a href="/api/billing">Billing</a>
    <a href="/api/equipment">Equipment</a>
    <a href="/api/rooms">Rooms</a>
</div>