<%- include("./partials/header.ejs") %>
    <div id="main">
      <div id="container-1">
        <img id="logo" src="/public/assets/logo.png" alt="logo" />
      </div>
      <div id="container-2">
        <h1>HDM Hospital</h1>
        <div id="buttons">
          <a  href="/register" role="button"><b>Register</b></a>
          <a  href="/login" role="button"><b>Login</b></a>
        </div>
      </div>
      
    </div>
<%- include("./partials/footer.ejs") %>