<%- include("./partials/header.ejs") %>
    <form action="/register" method="POST" id="register">
        <h1 style="align-self: center;"><u>Staff Details: </u></h2>

        <label for="fullname"><h3>Name: </h3></label>
        <input type="text" name="fullname" id="fullname" required>

        <label for="gender"><h3>Gender: </h3></label>
        <input type="text" name="gender" id="gender" required>

        <label for="email"><h3>Email: </h3></label>
        <input type="email" name="email" id="email" required>

        <label for="password"><h3>Password: </h3></label>
        <input type="password" name="password" id="password" required>

        <label for="phone"><h3>Phone: </h3></label>
        <input type="number" name="phone" id="phone" required>

        <label for="address"><h3>Address: </h3></label>
        <input type="text" name="address" id="address" required>

        <label for="role"><h3>Role: </h3></label>
        <input type="text" name="role" id="role" required>
     
        <input type="submit" value="Submit" />
    </form>
<%- include("./partials/footer.ejs") %>